@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}
@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}
@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}
body, html {
  height: 100%;
  background-image: 'bg.png';
  font-family: Poppins-Regular, sans-serif;
}

p {
	font-family: Poppins-Bold;
  font-size: 15px;
	line-height: 1.7;
	color: darkslategray;
	margin: 0px;
}

h1 {
  margin: 0px;
  font-family: Poppins-Regular;
  text-align: center;
}

h3 {
  text-align: center;
}

.container {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #a64bf4;
  background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
  background: linear-gradient(45deg, #00dbde, #fc00ff);
  
}
.wrap {
  width: 600px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 42px 55px 45px 55px;
}
.form-title {
  display: block;
  font-family: Poppins-Bold;
  font-style: bold;
  font-size:20px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}

.input {
  font-family: inherit;
  width: 500px;
  border: 0;
  border-bottom: 2px solid lightgray;
  outline: 0;
  font-size: 1.5rem;
  color: plum;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form-btn {
  display: block;
  cursor: pointer;
  background-color: #a64bf4;
  width: 200px;
  height: 50px;
  font-family: Poppins-Bold;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  background-size: 100% 100%;
  box-shadow: 0 0 0 7px var(--light) inset;
  margin: 0 auto;
  margin-bottom: 25px;
}

