<!DOCTYPE html>
<html>
	<head>
		<title>Concrete Strength</title>
		<meta charset = "UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head>

<body>
	<div class="container">
		<div class="wrap">
			<form action="/strength" method="POST">
				<span class="form-title">Predict compressive strength</span>
		
			<div class="form-group">
				<input class = "input" type="number" placeholder="Enter the amount of Cement" step="any" min="0" name="cement" class="form-control" id="cement"></input><br></br>
				<input class ="input" type="number" placeholder="Enter the amount of Blast Furnace Slag" step="any" min="0" name="slag" class="form-control" id="slag"></input><br></br>
				
				<input class ="input" type="number" placeholder="Enter the amount of Fly Ash" step="any" min="0" name="ash" class="form-control" id="ash"></input><br></br>
				
				<input class ="input" type="number" placeholder="Enter the amount of Water" step="any" min="0" name="water" class="form-control" id="water"></input><br></br>
				<input class ="input" type="number" placeholder="Enter the amount of Superplasticizer" step="any" min="0" name="plastic" class="form-control" id="plastic"></input><br></br>
				<input class ="input" type="number" placeholder="Enter the amount of Coarse Aggregate" step="any" min="0" name="coarse" class="form-control" id="coarse"></input><br></br>
				<input class ="input" type="number"  placeholder="Enter the amount of Fine Aggregate" step="any" min="0" name="fine" class="form-control" id="fine"></input><br></br>
				<input class ="input" type="number"  placeholder="Enter the Age" step="any" min="0" name="age" class="form-control" id="age"></input><br></br>
				<button class = "form-btn" type="submit" class="btn btn-info">Predict now</button>
			</div>
			<p>The predicted Concrete Compressive Strength is: <strong>{{ prediction }}</strong></p>
		</div>
		</form>
	</div>

</body>
</html>
